<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BirthdayTweets.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BirthdayTweets.My.MySettings.CelebrityBirthdayConnectionString"
            connectionString="Data Source=NETWYRKS_6-PC\SQLEXPRESS;Initial Catalog=CelebrityBirthday;Persist Security Info=True;User ID=sa;Password=dkk.sql"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <BirthdayTweets.My.MySettings>
            <setting name="LogFolder" serializeAs="String">
                <value>F:\CelebrityBirthday\Logs</value>
            </setting>
            <setting name="TimerInterval" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="ImgPath" serializeAs="String">
                <value>F:\CelebrityBirthday\Images</value>
            </setting>
            <setting name="TwitterImgPath" serializeAs="String">
                <value>F:\CelebrityBirthday\Twitter\Images</value>
            </setting>
        </BirthdayTweets.My.MySettings>
    </userSettings>
</configuration>