 /* unvisited link */
a:link {
  color: #000080;
}

/* visited link */
a:visited {
  color: ghostwhite;
}

/* mouse over link */
a:hover {
  color: white;
  background-color:#000080;
}

/* selected link */
a:active {
  color: darkslateblue;
} 