<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CelebrityBirthday.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CelebrityBirthday.My.MySettings.CelebrityBirthdayConnectionString" connectionString="Data Source=NETWYRKS_6-PC\SQLEXPRESS;Initial Catalog=CelebrityBirthday;Persist Security Info=True;User ID=sa;Password=dkk.sql" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup><userSettings>
        <CelebrityBirthday.My.MySettings>
            <setting name="mainformpos" serializeAs="String">
                <value />
            </setting>
            <setting name="findformpos" serializeAs="String">
                <value />
            </setting>
            <setting name="callUpgrade" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="imgbrowsepos" serializeAs="String">
                <value />
            </setting>
            <setting name="imgselectpos" serializeAs="String">
                <value />
            </setting>
            <setting name="ImgPath" serializeAs="String">
                <value>F:\CelebrityBirthday\Images</value>
            </setting>
            <setting name="NewImagePath" serializeAs="String">
                <value>F:\CelebrityBirthday\Images\new</value>
            </setting>
            <setting name="TwitterFilePath" serializeAs="String">
                <value>F:\CelebrityBirthday\Twitter</value>
            </setting>
            <setting name="updformpos" serializeAs="String">
                <value />
            </setting>
            <setting name="imgformpos" serializeAs="String">
                <value />
            </setting>
            <setting name="googleImageSearch" serializeAs="String">
                <value>https://www.google.com/search?tbm=isch&amp;q=</value>
            </setting>
            <setting name="WordPressUrl" serializeAs="String">
                <value>http://celebritybirthday.files.wordpress.com/</value>
            </setting>
            <setting name="wikiSearchUrl" serializeAs="String">
                <value>http://en.wikipedia.org/w/index.php?search=</value>
            </setting>
            <setting name="TwitterSearchUrl" serializeAs="String">
                <value>https://twitter.com/search?f=user&amp;src=typed_query&amp;q=</value>
            </setting>
            <setting name="twitterfilespos" serializeAs="String">
                <value />
            </setting>
            <setting name="twitterimagepos" serializeAs="String">
                <value />
            </setting>
            <setting name="wikiExtractSearch" serializeAs="String">
                <value>https://en.wikipedia.org/w/api.php?action=query&amp;prop=extracts&amp;exintro=&amp;exsentences=#&amp;explaintext=&amp;redirects=&amp;formatversion=2&amp;format=json&amp;titles=</value>
            </setting>
            <setting name="wikiSentences" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="twitterImageFolder" serializeAs="String">
                <value>F:\CelebrityBirthday\Twitter\Images</value>
            </setting>
            <setting name="WordPressMonthUrl" serializeAs="String">
                <value>https://celebritybirthday.wordpress.com/#y/#m/#d/#D-#M/</value>
            </setting>
            <setting name="srchformpos" serializeAs="String">
                <value />
            </setting>
            <setting name="bwsrformpos" serializeAs="String">
                <value />
            </setting>
            <setting name="wprformpos" serializeAs="String">
                <value />
            </setting>
            <setting name="capformpos" serializeAs="String">
                <value />
            </setting>
            <setting name="botsdformpos" serializeAs="String">
                <value />
            </setting>
            <setting name="sndtwformpos" serializeAs="String">
                <value />
            </setting>
            <setting name="textformpos" serializeAs="String">
                <value />
            </setting>
            <setting name="wikiTitleSearch" serializeAs="String">
                <value>https://en.wikipedia.org/w/api.php?action=query&amp;list=allpages&amp;redirects=&amp;formatversion=2&amp;format=json&amp;apfrom=#f&amp;apto=#t</value>
            </setting>
            <setting name="botsdFilePath" serializeAs="String">
                <value>F:\CelebrityBirthday\BOTSD</value>
            </setting>
            <setting name="botsdpostpos" serializeAs="String">
                <value />
            </setting>
            <setting name="SplitWords" serializeAs="String">
                <value> for ~ and ~ from ~ who~ of~ in~ . ~ , ~ best ~aff </value>
            </setting>
            <setting name="DebugOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value>F:\CelebrityBirthday\Logs</value>
            </setting>
            <setting name="MosaicImagePath" serializeAs="String">
                <value>F:\CelebrityBirthday\Images\mosaics</value>
            </setting>
        </CelebrityBirthday.My.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
